#gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.gallery-item {
  max-width: 100%;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#gallery li:not(:last-child) {
  margin-right: 20px;
}


.gallery-item:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.title {
  color: #2F4F4F;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}